<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.gdu.demo">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".SdkDemoApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemoListActivity" />
        <activity android:name=".FlightControllerActivity" />
        <activity android:name=".CameraGimbalActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".RemoteControllerActivity" />
        <activity android:name=".BatteryActivity" />
        <activity android:name=".AirLinkActivity" />
        <activity android:name=".DiagnosticsInformationActivity" />
        <activity android:name=".WaypointMissionOperatorActivity" />
        <activity android:name=".FlightAssistantActivity" />
        <activity android:name=".CompassActivity" />
        <activity android:name=".VirtualStickActivity" />
        <activity android:name=".MissionOperatorActivity" />

        <activity android:name=".mediatest.MediaTestActivity" />
        <activity android:name=".mediatest.MediaDetailActivity" />
        <activity android:name=".mediatest.MediaVideoPlayActivity" />
        <activity android:name=".RTKActivity" />
        <activity android:name=".FlightActivity"
            android:theme="@style/FullScreenAppTheme"
            android:screenOrientation="landscape"
            />
        <activity android:name=".flight.pre.PreFlightInspectionActivity"
            android:theme="@style/FullScreenAppTheme"
            android:screenOrientation="landscape"
            />
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>